@font-face{

font-family: "Custom1";
src: url(../fonts/AGENCYB.TTF);

}

@font-face{
font-family: "Custom2";
src:url(../fonts/BAUHS93.TTF);  
}

*{
box-sizing: border-box;
list-style: none;
margin: 0px;
}

body{
background-color:#171717;

}


#Img{
    width: 150px;
    height: 124px;
    }


#header-nav{

min-height: 124px;
background-color: #00004D;
border-color: #000000;
border-width: 3px;
}



.navbar-brand{
  height: 124px;
}

.navbar-brand a{
font-family: "Custom2";
font-size: 3.7em;
color: #ffff00;
text-shadow: 5px 6px #000000;
margin-top: 35px;
float: left;
}

#But{
position: relative;
top: 35px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #93f20c;
  background-color: #000088;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}




#nav-list{

margin-top: -5px;
}

.panel-footer{
position: relative;
bottom: 0;
left: 0;
width: 100%;

}

#nav-list li a{

margin-top: 40px;
font-size: 1.7em;
font-family: "Custom1";
font-weight:  bolder;
color: #93f20c;
text-shadow: 3px 4px #000000;
}

#nav-list a:hover{

background-color: blue;
border-radius: 5px;
}

#nav-list a{
text-align: center;
color: #8c1c6c;

}

.V2{

float: left;	

}

#nav-list li span{
padding-right: 1rem;
}

.navbar-brand  a:hover, a:focus {
	text-decoration: none;

}

#Base{

	background-color: #373c44;
	height: auto;
	box-shadow: 0px 0px 10px 10px black;
  margin-bottom: 30px;
border-radius: 15px;
}
.Base{

width: 100%;
box-shadow: 0px 0px 5px 5px black;
border-radius: 15px;
height: auto;
background-color: #171717;
margin-bottom: 50px;
}



.Banner{

max-width: 100%;
height: auto;
box-shadow: 0px 0px 10px 5px black;

}
.Ban{
margin-top: 20px;	
width: 114rem;
height: 660px;
border:10px;
max-width: 100%;
height: auto;


}


.Info{

font-size: 30px;
font-family: "Custom1";
font-weight: bolder;
color: black;
background-color: #fdc800;
border : 2px solid black;
box-shadow: 0px 0px 10px 3px black;
border-radius: 4px;
margin-bottom: 20px;
margin-top: 20px;
}

.Back{
  background-color:#fdc800;
  width: 150px;
  margin-bottom: 50px; 
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

a:hover{

  text-decoration: none;
}

.content{
margin-bottom: 20px;
}

.Deals{
margin-right: 1rem;
margin-left: 2rem;
}
.Dealb{
border: 3px solid black;
border-radius: 6px;
box-shadow: 0px 0px 5px 3px black;
}

.map{

width: 100%;	
min-height: 100%;
}
.Style{
width: 100%;
border: 3px solid black;
border-radius: 4px;
box-shadow: 0px 0px 5px 3px black;
margin-bottom: 50px;
}
.Sections{

float: left;
margin-left: 3.5%;	
width: 28.5%;
border-right: 1px solid black;
height: 150px;
}
.Sectionsalt{

float: left;
margin-left: 3.5%;
margin-top: 30px;  
width: 28.5%;
height: 150px;
}

.Sections span{

padding-top: 10px;
margin-left: 2%;
margin-right:2%;

}

.Hover a:hover{
text-decoration: none;
border-radius: 4px;
background-color: #fcd800;
}

.Sections h4{

margin-top: 30px;	
font-weight: bold;
font-size: 2em;
font-family: "Custom1";
color: white;

}

.Hover a{ 
font-family: "Custom1"; 
font-size: 1.3em;
color: white;

}

.fa {
  padding: 27px 20px 20px 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  width: 32%;
  height: 70px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  
}

/* Twitter */
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram{

  background-color: #125688;
  color:white;
}

.Copy{

font-size: 1.3em;
margin-top: 50px;
padding-bottom: 20px;
text-align: center;
font-family:"Custom1";
color: white;
}

.panel-footer{
background-color: #222;
border-color: #222;
}

/*About Page*/

.Repaint a:hover{
text-decoration: none;

}


.MenuText{
color: black;
font-size: 2.5em;
font-family: "Custom1","Helvetica","Cambria";
background-color: black;
color: white;
margin: 0px 10px 0px 10px;
width: 100%; 
text-align: center;
opacity: 0.9;
position: relative;
bottom: 60px;
}

.Text{
font-size: 15px;
font-weight: bold;
color: #fdc800;
text-align: justify;
font-family: "Helvetica","Cambria";
padding: 1%;
}

.row{
  max-width: 100%; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
}



.Resize{
max-width: 100%;
height: 230px;
margin-top: 20px;
margin-bottom: 20px;
}

.ResizeMenu{
max-width: 100%;
min-height: 420px;
margin: 10px;
}

.Contact{
color: black;
font-size: 20px;

font-weight: bold;
font-family: "Custom1"; 

}


.Contact a:hover{

text-decoration: none;

}
.Contact a{
color: black;

}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #Img {
    
    width: 100px;
    height: 80px;
    }

 .Log{
 	max-width: 100%;
 	max-height:100%;
 	margin: 15px 5px 15px 0px;

 }   
#nav-list li {
position: relative;
left: 2rem;

}

.navbar-brand a{

font-size: 3.3em;

}
.navbar-brand , .Log{

position: relative;
right: 2rem;

}
  /* End Header */

.Im1{
width: 280px;
height: 240px;
margin-left: 20px;
}
.Im2{
width: 280px;
height: 240px;
margin-left: 15px;
}

.V2{
width: inherit;
height:240px;
} 
.CatIm{
width: 100%;
margin: 20px;
}





}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

.navbar-brand a{
	
font-size: 2.7em;

}

#nav-list li a{

font-size: 1.4em;

}

.Contact{
font-size: 25px;


}

/* End Header */

.Deals{
	margin-bottom: 20px;
	margin-left: 20rem;
	margin-right: 20rem;
	display: block;

}

.Sections h4{


font-size: 1.5em;

}

.Hover a{  
font-size: 15px; 
}

.OddIm{
width: 100%;

}

.OIm{
max-width: 100%;
height: auto;
margin-top: 20px;
margin-bottom: 20px;
}


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
.navbar-brand a{
font-size: 11vw;

}
  /* End Header */




.Deals{
position: relative;
width: 90%;
margin-top: 30px;
margin-left: 4.7%;
margin-right: auto;

}

.Sections h4{


font-size: 1.2em;

}

.Hover a{  
font-size: 2vw;

}

.fa{

 padding: 10px 1px 1px 1px;
  font-size: 30px;
  
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  width: 25%;
  height: 30px;

}
.Contact{

font-size: 30px;
}
.Sectionsalt{


margin-left: auto;
margin-right: auto;
margin-top: 30px;  
width: 25%;
height: 150px;

}

.Sections{

  
width: 33%;
}

.OddIm{
width: 100%;

}




#nav-list li a{

margin-top: 10px;
padding-bottom: 30px;
border-top: 1px solid black;
}

#nav-list li{

margin-top: 10px;
padding-bottom: 10px;
}

.ResizeMenu{
max-width: 100%; 
height: 250px
margin: 10px;
}
.Resize{
max-width: 100%;
height: 450px;

}
}